.mainContainer {
    border-style: solid;
    border-radius: 10px 10px 10px 10px;
    border-width: 10px;
    background-color: #D2B48C;
    width: 60%; 
    margin-left: 20%;
    margin-right: 25%;
    margin-top: 1%;
}

header {
    background-image: url('images/ccBanner.jpg');
    background-size: cover;
    border-bottom: solid;
    margin-top: 1px;
    height: 30%;
    padding-top: 1px;
    padding-bottom: 200px;
}